*.exe
*.dll
lib/*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
libmain.dll.a
Makefile

# Binaries
**/bin/
bin-int/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Visual Studio Code files and folder

.vscode/

# imgui dialect

*imgui.ini
