[submodule "glfw"]
	path = dependencies/glfw
	url = https://github.com/positron-dev/glfw.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/positron-dev/imgui.git
	branch = docking
[submodule "dependencies/imguizmo"]
	path = dependencies/imguizmo
	url = https://github.com/positron-dev/ImGuizmo.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/positron-dev/freetype.git
